#root {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.darkBg { 
  background-color: #222;
  width: 100vw;
  height: 100vh;
}

.lightBg {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
}